@import"../../App.scss";
.Hero {
    overflow: hidden;
    height: calc(100vh - 80px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    


    .wrappers {
        max-width: 1050px;
        height: 100%;
        margin: auto;

        @include tablet{
            max-width: 800px;
        }
        @include mintab{
            max-width: 700px;
        }


        .textContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @include mobile{
                width: 100%;
                height: 50%;
                gap: 10px;
                align-items: center;
                text-align: center;
                

            }

            .h2 {
                font-size: 30px;
                color: orange;
                letter-spacing: 10px;

                @include mobile{
                font-size: 28px;
                }
                @include tablet{
                    font-size: 30px;
                }
                @include mintab{
                    font-size: 25px;
                }
            }

            .h1 {
                font-size: 65px;
                color: rgb(187, 183, 183);

                @include mobile{
                    font-size: 38px;
                    }
                    @include tablet{
                        font-size: 50px;
                    }
                    @include mintab{
                        font-size: 38px;
                    }
            }

            .h2:hover {
                letter-spacing: 12px;
                font-family: italic;

                @include mobile{
                    letter-spacing: 10px;
                    }
                    @include tablet{
                        letter-spacing: 10px;
                    }
                  
            }

            .button {
                button {
                    padding: 20px;
                    border: 3px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    margin-bottom: 50px;
                    cursor: pointer;
                    font-weight: 600;
                  
                    
                    
                   
                }


            }


            .img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 110%;
        position: absolute;
        top: 0;
        right: 90px;
       
        
        @include tablet{
            height: 80%;
            width:55%;
            top: 160px;
            right: 0;
        }

        @include mobile{
            height: 50%;
            width: 60%;
            top: 375px;
            right: 70px;
          
            
            
            }
         

        img {
            height: 100%;
           width: 70;
           object-fit: cover;

        }
    }

    .slidingtextcontainer {
        position: absolute;
        font-size: 31vh;
        bottom:-80px;
        white-space: nowrap;
        color: #ffffff12;
        font-weight: bold;
        

        @include mintab{
            font-size: 35vh;
        }
        @include tablet{
            font-size: 34vh;
        }
        

       
        
    }




}