@import "../../App.scss";

.navbar {
    height: 80px;
   
    @include mobile{
        width: 100%;
    }






    .wrapper {
        max-width: 1050px;
        margin: auto;
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 65%;

        @include mobile {
            justify-content: flex-end;
        }
        @include tablet{
            max-width: 800px;
        }
        
        @include mintab{
            max-width: 600px;
        }


    }

    span {
        font-weight: bold;
        font-size: 20px;
        text-align: center;

        @include mobile {
            display: none;
        }
        @include tablet{
            align-items: center;
        }
      

    }

    .social {

        display: flex;
        gap: 20px;


    }


}